.ability-container {
  position: relative;
}

.ability-name {
  position: absolute;
  font-size: 0.8em;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: black;
  text-align: center;
}

.ability-input {
  aspect-ratio: 1/1;
  font-size: 3em;
  text-align: center;
  width: 100%;
}
