.attacks-and-spells-section {
  grid-column: span 2;
}

.attack-header {
  border-bottom: 1px solid var(--text-primary);
  margin-bottom: 1.5em;
}

.attack {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 1fr 1fr;
  gap: 1em;
}

.attack input {
  border: none !important;
  border-bottom: 1px solid var(--text-primary) !important;
  width: 90%;
}
