.sheet {
  max-width: 45rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sheet-abilities-and-skills {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
}

.sheet-abilities {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sheet input {
  color: black;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
