:root {
  --bg-primary: hsl(0, 0%, 10%);
  --bg-secondary: hsl(0, 0%, 20%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(0, 0%, 80%);
  --text-tertiary: hsl(0, 0%, 65%);
  --highlight: hsl(0, 100%, 40%);
  --highlight-darker: hsl(0, 100%, 30%);

  background: var(--bg-primary);
}

ul {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-primary);
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.outline-btn {
  width: fit-content;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid var(--highlight);
  color: var(--highlight);
  transition: all 300ms ease;
}

.outline-btn:hover {
  background: var(--highlight);
  color: white;
  transition: all 300ms ease;
}
